<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉市仪表电子学校--招生就业</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_761537_wjnw57s3f28.css">
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--头部-->
    <header>
        <!--欢迎部分-->
        <div class="head_welcome">
            <div class="head_welcomeInfo clear">
                <div class="head_welcomeInfoLeft">欢迎来到武汉市仪表电子学校！</div>
                <div class="head_welcomeInfoRight clear">
                    <img src="images/headerPhone.png" alt="">
                    <span>400-100-1917</span>
                </div>
            </div>
        </div>
        <!--logo部分-->
        <div class="head_main clear">
            <a href="index.html" class="head_logoImg"><img src="images/logo.png" alt=""></a>
            <!--导航部分-->
            <ul class="head_navList clear">
                <li><a href="index.html">学校首页</a></li>
                <li><a href="schoolBrief.html">学校概况</a></li>
                <li><a href="exchange.html">教学教研</a></li>
                <li><a href="moralEducation.html">德育天地</a></li>
                <li><a href="union.html">党团工会</a></li>
                <li><a href="admissions.html" class="active">招生就业</a></li>
                <li><a href="honor.html">师生荣誉</a></li>
                <li><a href="major_index.html">系部直达</a></li>
                <li><a href="contact.html">联系我们</a></li>
            </ul>
        </div>
    </header>
    <!--主体内容部分-->
    <section>
        <!--上部图片-->
        <div class="common_bgContent common_bgContentAdmissions"></div>
        <!--面包屑导航部分-->
        <div class="common_breadNav">
            <div class="common_breadNavInfo">
                <span>您当前的位置：</span>
                <a href="index.html">首页</a>
                <a href="admissions.html">&gt;招生就业</a>
                <span>&gt;招生资讯</span>
            </div>
        </div>
        <!--下部详细的内容-->
        <div class="common_mainContent clear">
            <!--左边部分-->
            <div class="common_leftContent">
                <!--上部显示的是导航-->
                <div class="common_subNav">
                    <p class="common_subNavTitle">招生就业</p>
                    <ul class="common_subNavList">
                        <li><a href="admissions.html?0" class="active">招生资讯</a></li>
                        <li><a href="admissions.html?1">就业广场</a></li>
                        <li><a href="admissions.html?2">助学金申请</a></li>
                        <li><a href="admissions.html?3">就业指导</a></li>
                    </ul>
                </div>
                <!--下部显示的是系部直达-->
                <div class="common_linkContent">
                    <p class="common_linkTitle">系部直达</p>
                    <ul class="common_linkList">
                        <li><a href="javascript:void(0)"><i class="iconfont icon-dianxin"></i>电信专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-guangdianjixitongjiance"></i>光电专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-moxing"></i>数模专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-jidian"></i>机电专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-shangmao"></i>商贸专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-diannao"></i>网上报名</a></li>
                    </ul>
                </div>
            </div>
            <!--右边部分(招生资讯)-->
            <div class="common_rightContent">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>招生资讯</span>/Admissions Information
                </div>
                <!--上部一个切换的tab标签-->
                <ul class="common_tabList clear">
                    <li class="active" onclick="switchTab(this,0)">
                        <div class="common_tabIconContent">
                            <div class="common_tabIcon"><i class="iconfont icon-zhengce"></i></div>
                        </div>
                        <div class="common_tabInfo">招生政策</div>
                    </li>
                    <li onclick="switchTab(this,1)">
                        <div class="common_tabIconContent">
                            <div class="common_tabIcon"><i class="iconfont icon-jihuabiao"></i></div>
                        </div>
                        <div class="common_tabInfo">招生计划</div>
                    </li>
                    <li onclick="switchTab(this,2)">
                        <div class="common_tabIconContent">
                            <div class="common_tabIcon"><i class="iconfont icon-luqu"></i></div>
                        </div>
                        <div class="common_tabInfo">报名录取流程</div>
                    </li>
                </ul>
                <!--内容部分(招生政策)-->
                <div class="common_tabContent">
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>报名方法</p>
                    </div>
                    <div class="common_rightInfo">
                        应届初中毕业生在《报名志愿卡》中职类志愿栏内填报武汉市仪表，武汉市学校招生代码（湖北省0117，武汉市302），亦可凭初中毕业生证书、准考证到招生办公室登记报名。
                    </div>
                    <div class="common_rightInfo">
                        “3+2”高职班报名：考生须在《报名志愿卡》中职类志愿栏内填报武汉市仪表电子学校招生代码，代码为：614，并填报专业，待中考成绩公布后，凭分数条到学校招生办公室登记报名，划线录取。名额有限，招满为止。
                    </div>
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>优惠政策</p>
                    </div>
                    <div class="common_rightInfo">
                        1.农村（含县政、地级以上城市所辖新城区）学生户籍证明，沉睡谷hi低保家庭学生凭有效证件直接免学费。
                    </div>
                    <div class="common_rightInfo">
                        2.在籍一、二年纪家庭经济困难符合资助条件的学生科享受国家助学金，自资助标准为每生每年1500圆。家庭经济困难的学生入学后科申请勤工俭学岗位，学校创造条件鼓励支持学生通过勤工俭学完成学业。
                    </div>
                    <div class="common_rightInfo">
                        3.达到当地普高录取分数线来我校就读的学生凭分数证明一次性奖励1000圆；如每学年学业成绩位列本专业前五名或本班级第一名的品学兼优者，经审定科继续奖励1000元。
                    </div>
                    <div class="common_rightInfo">
                        4.市政府为我校优秀学生设立纸质奖学金，励志奖学金每年评定一次， 被评定这者科获得1000元奖学金。
                    </div>
                    <div class="common_rightInfo">
                        5.相关企业为我校品学兼优学生设立企业奖学金、助学金，助学奖学金每年评定一次， 被评定这者科获得1000元奖学金。
                    </div>
                    <div class="common_rightInfo">
                        6.当地普高录取分数线来我校就读的学生凭分数证明一次性奖励1000圆；如每学年学业成绩位列本专业前五名或本班级第一名的品学兼优者，经审定科继续奖励1000元市政府为我校优秀学生。
                    </div>
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>特别介绍</p>
                    </div>
                    <div class="common_rightInfo">
                        我校是“同心温暖工程”和“大别山区特困源学生资助”初中毕业生在《报名志愿卡》中职类志愿栏内填报武汉市仪表，武汉市学校招生代码（湖北省0117，武汉市302），亦可凭初中毕业生证书、准考证到招生办公室登记报名。“3+2”高职班报名：考生须在《报名志愿卡》中职类志愿栏内填报武汉市仪表电子学校招生代码，代码为：614，并填报专业，待中考成绩公布后，凭分数条到学校招生办公室登记报名，划线录取。心温暖工程”和“大别山区特困源学生资助”初中毕业生在《报名志愿卡》中职类志愿栏内填报武汉市仪表，武汉市学校招生代码（湖北省0117，武汉市302），亦可凭初中毕业生证书、准考证到招生办公室登记报名。“3+2”高职班报名：考生须在《报名志愿卡》中职类志。
                    </div>
                </div>
                <!--内容部分(招生计划)-->
                <div class="common_tabContent" style="display: none">
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>2015年各专业招生计划表</p>
                    </div>
                    <div class="common_tableContent">
                        <table class="main_publicTable" cellspacing="0">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th width="20%">专业名称</th>
                                <th>招生对象</th>
                                <th>学费（年）</th>
                                <th>学制</th>
                                <th>招生数</th>
                                <th width="30%">备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>*</td>
                                <td>电子与信息技术</td>
                                <td>初中</td>
                                <td>2800</td>
                                <td>三</td>
                                <td>120</td>
                                <td>“3+2”中高职衔接班，毕业后直升武汉船舶职业技术学院</td>
                            </tr>
                            <tr>
                                <td>*</td>
                                <td>数控技术应用</td>
                                <td>初中</td>
                                <td>2800</td>
                                <td>三</td>
                                <td>80</td>
                                <td>“3+2”中高职衔接班，毕业后直升武汉船舶职业技术学院</td>
                            </tr>
                            <tr>
                                <td>*</td>
                                <td>机电技术应用</td>
                                <td>初中</td>
                                <td>2800</td>
                                <td>三</td>
                                <td>80</td>
                                <td>“3+2”中高职衔接班，毕业后直升武汉铁路职业技术学院</td>
                            </tr>
                            <tr>
                                <td>*</td>
                                <td>光电仪器制造与维修<br><span style="font-size:12px">(光电子技术方向)</span></td>
                                <td>初中</td>
                                <td>2800</td>
                                <td>三</td>
                                <td>80</td>
                                <td>“3+2”中高职衔接班，毕业后直升武汉铁路职业技术学院</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>电子与信息技术</td>
                                <td>初中</td>
                                <td>2800</td>
                                <td>三</td>
                                <td>120</td>
                                <td>省品牌专业，可参加技能高考</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>电子技术应用<br><span style="font-size:12px">(微电子方向)</span></td>
                                <td>初中</td>
                                <td>2400</td>
                                <td>三</td>
                                <td>50</td>
                                <td>省品牌专业，可参加技能高考</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>电子与信息技术<br><span style="font-size:12px">(互联网方向)</span></td>
                                <td>初中</td>
                                <td>2800</td>
                                <td>三</td>
                                <td>40</td>
                                <td>省品牌专业，可参加技能高考</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>城市轨道交通信号</td>
                                <td>初中</td>
                                <td>2600</td>
                                <td>三</td>
                                <td>40</td>
                                <td>市重点专业，可参加技能高考</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>我校在省内各市州招生计划</p>
                    </div>
                    <div class="common_tableContent">
                        <table class="main_publicTable" cellspacing="0">
                            <thead>
                            <tr>
                                <th>总计</th>
                                <th>武汉</th>
                                <th>荆州</th>
                                <th>宜昌</th>
                                <th>襄阳</th>
                                <th>鄂州</th>
                                <th>荆门</th>
                                <th>随州</th>
                                <th>仙桃</th>
                                <th>天门</th>
                                <th>潜江</th>
                                <th>黄冈</th>
                                <th>孝感</th>
                                <th>咸宁</th>
                                <th>恩施</th>
                                <th>黄石</th>
                                <th>十堰</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>800</td>
                                <td>630</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>30</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>30</td>
                                <td>50</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>教育部下达我校2015年跨省（直辖市、自治区）招生计划</p>
                    </div>
                    <div class="common_tableContent">
                        <table class="main_publicTable" cellspacing="0">
                            <thead>
                            <tr>
                                <th>合计</th>
                                <th>河北</th>
                                <th>山西</th>
                                <th>辽宁</th>
                                <th>吉林</th>
                                <th>江苏</th>
                                <th>浙江</th>
                                <th>安徽</th>
                                <th>福建</th>
                                <th>江西</th>
                                <th>山东</th>
                                <th>河南</th>
                                <th>湖南</th>
                                <th>广东</th>
                                <th>海南</th>
                                <th>广西</th>
                                <th>四川</th>
                                <th>重庆</th>
                                <th>贵州</th>
                                <th>云南</th>
                                <th>陕西</th>
                                <th>甘肃</th>
                                <th>青海</th>
                                <th>宁夏</th>
                                <th>新疆</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>100</td>
                                <td>5</td>
                                <td>3</td>
                                <td>5</td>
                                <td>3</td>
                                <td>3</td>
                                <td>5</td>
                                <td>5</td>
                                <td>3</td>
                                <td>5</td>
                                <td>5</td>
                                <td>10</td>
                                <td>5</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>5</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>6</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--内容部分(报名录取流程)-->
                <div class="common_tabContent" style="display: none">
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>报名方法</p>
                    </div>
                    <div class="common_rightInfo">
                        应届初中毕业生在《报名志愿卡》中职类志愿栏内填报武汉市仪表，武汉市学校招生代码（湖北省0117，武汉市302），亦可凭初中毕业生证书、准考证到招生办公室登记报名。
                    </div>
                    <div class="common_rightInfo">
                        “3+2”高职班报名：考生须在《报名志愿卡》中职类志愿栏内填报武汉市仪表电子学校招生代码，代码为：614，并填报专业，待中考成绩公布后，凭分数条到学校招生办公室登记报名，划线录取。名额有限，招满为止。
                    </div>
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>优惠政策</p>
                    </div>
                    <div class="common_rightInfo">
                        1.农村（含县政、地级以上城市所辖新城区）学生户籍证明，沉睡谷hi低保家庭学生凭有效证件直接免学费。
                    </div>
                    <div class="common_rightInfo">
                        2.在籍一、二年纪家庭经济困难符合资助条件的学生科享受国家助学金，自资助标准为每生每年1500圆。家庭经济困难的学生入学后科申请勤工俭学岗位，学校创造条件鼓励支持学生通过勤工俭学完成学业。
                    </div>
                    <div class="common_rightInfo">
                        3.达到当地普高录取分数线来我校就读的学生凭分数证明一次性奖励1000圆；如每学年学业成绩位列本专业前五名或本班级第一名的品学兼优者，经审定科继续奖励1000元。
                    </div>
                    <div class="common_rightInfo">
                        4.市政府为我校优秀学生设立纸质奖学金，励志奖学金每年评定一次， 被评定这者科获得1000元奖学金。
                    </div>
                    <div class="common_rightInfo">
                        5.相关企业为我校品学兼优学生设立企业奖学金、助学金，助学奖学金每年评定一次， 被评定这者科获得1000元奖学金。
                    </div>
                    <div class="common_rightInfo">
                        6.当地普高录取分数线来我校就读的学生凭分数证明一次性奖励1000圆；如每学年学业成绩位列本专业前五名或本班级第一名的品学兼优者，经审定科继续奖励1000元市政府为我校优秀学生。
                    </div>
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>特别介绍</p>
                    </div>
                    <div class="common_rightInfo">
                        我校是“同心温暖工程”和“大别山区特困源学生资助”初中毕业生在《报名志愿卡》中职类志愿栏内填报武汉市仪表，武汉市学校招生代码（湖北省0117，武汉市302），亦可凭初中毕业生证书、准考证到招生办公室登记报名。“3+2”高职班报名：考生须在《报名志愿卡》中职类志愿栏内填报武汉市仪表电子学校招生代码，代码为：614，并填报专业，待中考成绩公布后，凭分数条到学校招生办公室登记报名，划线录取。心温暖工程”和“大别山区特困源学生资助”初中毕业生在《报名志愿卡》中职类志愿栏内填报武汉市仪表，武汉市学校招生代码（湖北省0117，武汉市302），亦可凭初中毕业生证书、准考证到招生办公室登记报名。“3+2”高职班报名：考生须在《报名志愿卡》中职类志。
                    </div>
                </div>
            </div>
            <!--右边部分(就业广场)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>就业广场</span>/Employment Square
                </div>
                <!--上部一个切换的tab标签-->
                <ul class="common_tabList clear">
                    <li class="active" onclick="switchTab(this,0)">
                        <div class="common_tabIconContent">
                            <div class="common_tabIcon"><i class="iconfont icon-liucheng"></i></div>
                        </div>
                        <div class="common_tabInfo">就业流程</div>
                    </li>
                    <li onclick="switchTab(this,1)">
                        <div class="common_tabIconContent">
                            <div class="common_tabIcon"><i class="iconfont icon-xinxi"></i></div>
                        </div>
                        <div class="common_tabInfo">就业信息</div>
                    </li>
                    <li onclick="switchTab(this,2)">
                        <div class="common_tabIconContent">
                            <div class="common_tabIcon"><i class="iconfont icon-genzonghao"></i></div>
                        </div>
                        <div class="common_tabInfo">就业跟踪</div>
                    </li>
                </ul>
                <!--内容部分(就业流程)-->
                <div class="common_tabContent">

                </div>
                <!--内容部分(就业信息)-->
                <div class="common_tabContent" style="display: none">
                    <div class="common_rightInfoTitle">
                        <span class="common_rightBorder"></span>
                        <p>2008年毕业生就业信息统计表</p>
                    </div>
                    <div class="common_tableContent">
                        <table class="main_publicTable" cellspacing="0">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>日期</th>
                                <th>单位名称</th>
                                <th>工种</th>
                                <th>需求</th>
                                <th>对口专业</th>
                                <th>工资待遇</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>2007.10.17</td>
                                <td>中芯国际</td>
                                <td>电子装接工</td>
                                <td>50名</td>
                                <td>电子信息</td>
                                <td>1300-1600</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2007.10.24</td>
                                <td>中芯国际(第二批)</td>
                                <td>电子装接工</td>
                                <td>30名</td>
                                <td>电子信息</td>
                                <td>1300-1600</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2007.11.9</td>
                                <td>富士康(鸿准精密模具有限公司)</td>
                                <td>数控车床操作工</td>
                                <td>40名</td>
                                <td>数控技术</td>
                                <td>1800-3000</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2008.1.17</td>
                                <td>武汉瑞利汽车工业有限公司</td>
                                <td>数控车床操作工</td>
                                <td>30名</td>
                                <td>数控技术</td>
                                <td>1400-1700</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2008.2.18</td>
                                <td>东峻集团武汉湛卢压铸有限公司</td>
                                <td>数控车床操作工</td>
                                <td>20名</td>
                                <td>数控技术</td>
                                <td>1300-1600</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>2008.2.27</td>
                                <td>武汉协力精密制造有限公司</td>
                                <td>数控车床操作工</td>
                                <td>25名</td>
                                <td>数控技术</td>
                                <td>1100-1300</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>2008.2.28</td>
                                <td>万向集团</td>
                                <td>数控车床操作工</td>
                                <td>30名</td>
                                <td>数控技术</td>
                                <td>1300-1600</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>2008.2.28</td>
                                <td>武汉凡谷电子技术股份有限公司</td>
                                <td>数控车床操作工</td>
                                <td>40名</td>
                                <td>数控技术</td>
                                <td>1300-1800</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>2008.3.3</td>
                                <td>秩父精密产业(深圳)有限公司</td>
                                <td>数控车床操作工</td>
                                <td>40名</td>
                                <td>数控技术</td>
                                <td>1800-2500</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2008.3.3</td>
                                <td>湖北东峻工贸有限公司精工分公司</td>
                                <td>数控车床操作工</td>
                                <td>30名</td>
                                <td>数控技术</td>
                                <td>1300-1600</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--底部的页码-->
                    <div class="page_outContent" style="margin-top:30px">
                        <div class="page_innerContent clear">
                            <p class="page_previousPage">上一页</p>
                            <ul class="page_pageList clear">
                                <li>1</li>
                                <li class="active">2</li>
                                <li>3</li>
                            </ul>
                            <p class="page_nextPage">下一页</p>
                            <p class="page_totalPage">共3页</p>
                            <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
                            <p class="page_submitBtn">确定</p>
                        </div>
                    </div>
                </div>
                <!--内容部分(就业跟踪)-->
                <div class="common_tabContent" style="display: none">
                    <ul class="admissions_tailList clear">
                        <li>
                            <!--图片-->
                            <div class="admissions_tailPic"><img src="images/admissionsTail.png" alt=""></div>
                            <!--信息部分-->
                            <div class="admissions_tailInfo">
                                <div class="admissions_tailName"><span>申国祥</span></div>
                                <p>8002班</p>
                                <p>模具设计专业</p>
                                <p>现任武汉长江科技有限公司</p>
                                <p class="admissions_tailStatus">副总经理</p>
                            </div>
                        </li>
                        <li>
                            <!--图片-->
                            <div class="admissions_tailPic"><img src="images/admissionsTail.png" alt=""></div>
                            <!--信息部分-->
                            <div class="admissions_tailInfo">
                                <div class="admissions_tailName"><span>申国祥</span></div>
                                <p>8002班</p>
                                <p>模具设计专业</p>
                                <p>现任武汉长江科技有限公司</p>
                                <p class="admissions_tailStatus">副总经理</p>
                            </div>
                        </li>
                        <li>
                            <!--图片-->
                            <div class="admissions_tailPic"><img src="images/admissionsTail.png" alt=""></div>
                            <!--信息部分-->
                            <div class="admissions_tailInfo">
                                <div class="admissions_tailName"><span>申国祥</span></div>
                                <p>8002班</p>
                                <p>模具设计专业</p>
                                <p>现任武汉长江科技有限公司</p>
                                <p class="admissions_tailStatus">副总经理</p>
                            </div>
                        </li>
                        <li>
                            <!--图片-->
                            <div class="admissions_tailPic"><img src="images/admissionsTail.png" alt=""></div>
                            <!--信息部分-->
                            <div class="admissions_tailInfo">
                                <div class="admissions_tailName"><span>申国祥</span></div>
                                <p>8002班</p>
                                <p>模具设计专业</p>
                                <p>现任武汉长江科技有限公司</p>
                                <p class="admissions_tailStatus">副总经理</p>
                            </div>
                        </li>
                        <li>
                            <!--图片-->
                            <div class="admissions_tailPic"><img src="images/admissionsTail.png" alt=""></div>
                            <!--信息部分-->
                            <div class="admissions_tailInfo">
                                <div class="admissions_tailName"><span>申国祥</span></div>
                                <p>8002班</p>
                                <p>模具设计专业</p>
                                <p>现任武汉长江科技有限公司</p>
                                <p class="admissions_tailStatus">副总经理</p>
                            </div>
                        </li>
                        <li>
                            <!--图片-->
                            <div class="admissions_tailPic"><img src="images/admissionsTail.png" alt=""></div>
                            <!--信息部分-->
                            <div class="admissions_tailInfo">
                                <div class="admissions_tailName"><span>申国祥</span></div>
                                <p>8002班</p>
                                <p>模具设计专业</p>
                                <p>现任武汉长江科技有限公司</p>
                                <p class="admissions_tailStatus">副总经理</p>
                            </div>
                        </li>
                    </ul>
                    <!--底部的页码-->
                    <div class="page_outContent">
                        <div class="page_innerContent clear">
                            <p class="page_previousPage">上一页</p>
                            <ul class="page_pageList clear">
                                <li>1</li>
                                <li class="active">2</li>
                                <li>3</li>
                            </ul>
                            <p class="page_nextPage">下一页</p>
                            <p class="page_totalPage">共3页</p>
                            <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
                            <p class="page_submitBtn">确定</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边部分(助学金申请)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>助学金申请</span>/Scholarship Application
                </div>
                <!--内容信息列表部分-->
                <div class="common_totalTitle">中等职业学校国家助学金申请指南</div>
                <div class="common_secondTitle">
                    <span class="common_rightIcon"><i class="iconfont icon-fangkuai"></i></span>
                    <p>我国中等职业学校学生资助政策体系具体内容</p>
                </div>
                <div class="common_rightInfo">
                    中等职业教育实行以国家助学金为主，以校内奖学金、学生工学结合、顶岗实习、学校减免学费等为辅的资助政策体系。国家鼓励地方政府、行业企业和社会团体设立中等职业学校助学金、奖学金，鼓励和引导金融机构为接受中等职业教育的学生提供助学贷款。
                </div>
                <div class="common_secondTitle">
                    <span class="common_rightIcon"><i class="iconfont icon-fangkuai"></i></span>
                    <p>享受国家助学金政策的学校</p>
                </div>
                <div class="common_rightInfo">
                    享受国家助学金政策的学校是指政府有关部门根据国家有关规定批准设立并备案，实施中等学历教育的各类职业学校，包括公办和民办的普通中专、成人中专、职业高中、技工学校、普通高等学校和职业技术学院附属的中专部和中等职业学校等。
                </div>
                <div class="common_secondTitle">
                    <span class="common_rightIcon"><i class="iconfont icon-fangkuai"></i></span>
                    <p>国家助学金资助对象</p>
                </div>
                <div class="common_rightInfo">
                    国家助学金资助对象是经市（州）及以上教育行政部门或劳动保障行政部门注册、取得中等职业教育正式学籍的中等职业学校全日制在校一、二年级所有农村户籍的学生和县（含县级市、农业区）镇非农户口的学生以及城市家庭经济困难学生（含城市残疾学生）。
                </div>
                <div class="common_rightInfo">
                    中等职业学校毕业年级学生通过工学结合、顶岗实习获得一定报酬，用于支付学习和生活费用。
                </div>
                <div class="common_rightInfo">
                    在教育和劳动保障行政部门同时注册中等职业教育学籍的中等职业学校学生只能向一个部门申请资助。
                </div>
                <div class="common_secondTitle">
                    <span class="common_rightIcon"><i class="iconfont icon-fangkuai"></i></span>
                    <p>国家助学金资助标准</p>
                </div>
                <div class="common_rightInfo">
                    国家助学金资助标准为每生每年1500元。
                </div>
                <div class="common_secondTitle">
                    <span class="common_rightIcon"><i class="iconfont icon-fangkuai"></i></span>
                    <p>国家助学金申请、审批与发放程序</p>
                </div>
                <div class="common_rightInfo">
                    国家助学金按学年申请和评定，从每年9月份开始按月发放。具体流程如下：
                </div>
                <div class="common_rightInfo">
                    ①学生填写《湖北省中等职业学校国家助学金申请表》；
                </div>
                <div class="common_rightInfo">
                    ②学生在新学年开学一周内向学校提出申请，并递交相关证明材料；
                </div>
                <div class="common_rightInfo">
                    ③学校受理学生申请，对受助对象进行资格审查，确定资助名单；
                </div>
                <div class="common_rightInfo">
                    ④学校将确定的资助名单在校内进行不少于5个工作日的公示；
                </div>
                <div class="common_rightInfo">
                    ⑤公示无异议后，学校将拟资助学生名单报有关部门审批；
                </div>
                <div class="common_rightInfo">
                    ⑥学生资助管理机构为每位受助学生分别办理银行储蓄卡或存折，并在学生入学一个月内将国家助学金发放到受助学生手中。有条件的地方可以通过国库集中支付方式，由财政部门直接将国家助学金发放给受助学生。
                </div>
            </div>
            <!--右边部分(就业指导)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>就业指导</span>/Employment Guidance
                </div>
                <!--内容信息列表部分-->
                <ul class="common_infoList">
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>01</span>July</p>
                            <p>MONDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">2011级学生顶岗实习，从这里扬帆起航</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>12</span>August</p>
                            <p>TUESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">应聘时最漂亮的回答</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--底部-->
    <footer>
        <div class="footerInfo">
            <p>
                <span>版权所有@武汉市仪表电子学校</span>
                <span>技术支持：武汉飞加网络科技有限公司</span>
                <span>地址：武汉市东湖高新技术开发区流芳园路1号</span>
                <span>招办传真：027-52237986</span>
            </p>
            <P>
                电话：<span>027-52237988</span><span>027-87403681</span><span>13071265257</span>
            </P>
        </div>
    </footer>
    <!--返回顶部按钮-->
    <div class="toTop" title="返回顶部"><i class="iconfont icon-up"></i></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/public.js"></script>
<script>
    var i=window.location.search.slice(1),
        breadText=["招生资讯","就业广场","助学金申请","就业指导"];
    if(i){
        $(".common_rightContent:eq("+i+")").show().siblings(".common_rightContent").hide();
        $(".common_breadNavInfo>span:eq(1)").html("&gt;"+breadText[i]);
        $(".common_subNavList").children("li").children("a").removeClass("active");
        $(".common_subNavList>li:eq("+i+")").children("a").addClass("active");
    }

    //切换tab的内容时
    function switchTab(e,i){
        $(e).addClass("active").siblings().removeClass("active");
        $(e).parent().siblings(".common_tabContent:eq("+i+")").show().siblings(".common_tabContent").hide()
    }

</script>
</body>
</html>