<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉市仪表电子学校--联系我们</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_761537_gj7hkccluac.css">
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--头部-->
    <header>
        <!--欢迎部分-->
        <div class="head_welcome">
            <div class="head_welcomeInfo clear">
                <div class="head_welcomeInfoLeft">欢迎来到武汉市仪表电子学校！</div>
                <div class="head_welcomeInfoRight clear">
                    <img src="images/headerPhone.png" alt="">
                    <span>400-100-1917</span>
                </div>
            </div>
        </div>
        <!--logo部分-->
        <div class="head_main clear">
            <a href="index.html" class="head_logoImg"><img src="images/logo.png" alt=""></a>
            <!--导航部分-->
            <ul class="head_navList clear">
                <li><a href="index.html">学校首页</a></li>
                <li><a href="schoolBrief.html">学校概况</a></li>
                <li><a href="exchange.html">教学教研</a></li>
                <li><a href="moralEducation.html">德育天地</a></li>
                <li><a href="union.html">党团工会</a></li>
                <li><a href="admissions.html">招生就业</a></li>
                <li><a href="honor.html">师生荣誉</a></li>
                <li><a href="major_index.html">系部直达</a></li>
                <li><a href="contact.html" class="active">联系我们</a></li>
            </ul>
        </div>
    </header>
    <!--主体内容部分-->
    <section>
        <!--上部图片-->
        <div class="common_bgContent common_bgContentContact"></div>
        <!--面包屑导航部分-->
        <div class="common_breadNav">
            <div class="common_breadNavInfo">
                <span>您当前的位置：</span>
                <a href="index.html">首页</a>
                <a href="contact.html">&gt;联系我们</a>
                <span>&gt;联系我们</span>
            </div>
        </div>
        <!--下部详细的内容-->
        <div class="common_mainContent clear">
            <!--左边部分-->
            <div class="common_leftContent">
                <!--上部显示的是导航-->
                <div class="common_subNav">
                    <p class="common_subNavTitle">联系我们</p>
                    <ul class="common_subNavList">
                        <li><a href="contact.html" class="active">联系我们</a></li>
                    </ul>
                </div>
                <!--下部显示的是系部直达-->
                <div class="common_linkContent">
                    <p class="common_linkTitle">系部直达</p>
                    <ul class="common_linkList">
                        <li><a href="javascript:void(0)"><i class="iconfont icon-dianxin"></i>电信专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-guangdianjixitongjiance"></i>光电专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-moxing"></i>数模专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-jidian"></i>机电专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-shangmao"></i>商贸专业部</a></li>
                        <li><a href="javascript:void(0)"><i class="iconfont icon-diannao"></i>网上报名</a></li>
                    </ul>
                </div>
            </div>
            <!--右边部分(联系我们)-->
            <div class="common_rightContent">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>联系我们</span>/Contact Us
                </div>
                <!--联系方式的列表-->
                <ul class="contact_contactList clear">
                    <li>
                        <span class="contact_contactIcon"><i class="iconfont icon-dianhua"></i></span>
                        <div class="contact_contactInfo">电话：027-52237988 &nbsp;&nbsp;15202743596</div>
                    </li>
                    <li>
                        <span class="contact_contactIcon"><i class="iconfont icon-dizhi"></i></span>
                        <div class="contact_contactInfo">地址：武汉市东湖高新技术开发区流芳园路1号</div>
                    </li>
                    <li>
                        <span class="contact_contactIcon"><i class="iconfont icon-youxiang"></i></span>
                        <div class="contact_contactInfo">邮箱：YDXX-ZHAOBAN@163.COM</div>
                    </li>
                    <li>
                        <span class="contact_contactIcon"><i class="iconfont icon-wangzhi"></i></span>
                        <div class="contact_contactInfo">网址：www.ydxx.org.cn</div>
                    </li>
                    <li>
                        <span class="contact_contactIcon"><i class="iconfont icon-ren"></i></span>
                        <div class="contact_contactInfo">联系人：孙老师 黄老师 熊老师 吴老师</div>
                    </li>
                    <li>
                        <span class="contact_contactIcon"><i class="iconfont icon-youbian"></i></span>
                        <div class="contact_contactInfo">邮编：430205</div>
                    </li>
                </ul>
                <!--位置的地图-->
                <div id="contact_mapContent"></div>
                <!--乘车路线-->
                <div class="contact_driveTitle">乘车线路</div>
                <ul class="contact_driveList">
                    <li>
                        <span class="contact_driveIcon"><i class="iconfont icon-gongjiao"></i></span>
                        <div class="contact_driveInfo">武昌火车站、宏基客运站、付家坡长途汽车站乘538路、529路、715路、510路、59路至鲁巷或关山大道曙光村转乘788路至流芳园路站</div>
                    </li>
                    <li>
                        <span class="contact_driveIcon"><i class="iconfont icon-ditiechuanmei"></i></span>
                        <div class="contact_driveInfo">汉口火车站、金家墩长途汽车站乘地铁2号线或武昌火车站、武汉火车站、汉阳王家湾和钟家村乘地铁4号线至中南路站换乘地铁2号线至光谷广场C出口站，在民族大道上转乘788路至流芳园路站</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--底部-->
    <footer>
        <div class="footerInfo">
            <p>
                <span>版权所有@武汉市仪表电子学校</span>
                <span>技术支持：武汉飞加网络科技有限公司</span>
                <span>地址：武汉市东湖高新技术开发区流芳园路1号</span>
                <span>招办传真：027-52237986</span>
            </p>
            <P>
                电话：<span>027-52237988</span><span>027-87403681</span><span>13071265257</span>
            </P>
        </div>
    </footer>
    <!--返回顶部按钮-->
    <div class="toTop" title="返回顶部"><i class="iconfont icon-up"></i></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=k67kcblzt4bhnYnXtBBZljMWYhASohZt"></script>
<script src="js/public.js"></script>
<script>
    // 校园地图部分
    (function initMap(){
        // 百度地图API功能
        var map = new BMap.Map("contact_mapContent"),    // 创建Map实例
            point=new BMap.Point(114.450865,30.471312);
        map.centerAndZoom(point, 19);  // 初始化地图,设置中心点坐标和地图级别
        var opts={
                position:point,//指定文本标注所在的地理位置
                offset:new BMap.Size(-10,40)//设置文本偏移量
            },
            label=new BMap.Label("武汉市仪表电子学校",opts),
            marker=new BMap.Marker(point);//创建标注
        label.setStyle({
            color:"red",
            fontSize:"14px",
            height:"24px",
            lineHeight:"24px",
            fontFamily:"微软雅黑"
        });
        map.addOverlay(marker);//将标注添加到地图中
        marker.setLabel(label);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        map.setCurrentCity("武汉");//设置地图显示的城市
        map.enableScrollWheelZoom(true);//开启鼠标滚轮缩放
        map.addTileLayer(new BMap.PanoramaCoverageLayer());//覆盖区域图层测试
        var stCtrl=new BMap.PanoramaControl();//构造全景控件
        stCtrl.setOffset(new BMap.Size(20,20));
        map.addControl(stCtrl);//添加全景控件
        var top_left_control=new BMap.NavigationControl();
        map.addControl(top_left_control);//左上角添加默认缩放平移控件
    })();
</script>
</body>
</html>