<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉市仪表电子学校--教育教学</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_761537_a4ovx6bcxyl.css">
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!--头部-->
  <header>
    <!--欢迎部分-->
    <div class="head_welcome">
      <div class="head_welcomeInfo clear">
        <div class="head_welcomeInfoLeft">欢迎来到武汉市仪表电子学校！</div>
        <div class="head_welcomeInfoRight clear">
          <img src="images/headerPhone.png" alt="">
          <span>400-100-1917</span>
        </div>
      </div>
    </div>
    <!--logo部分-->
    <div class="head_main clear">
      <a href="index.html" class="head_logoImg"><img src="images/logo.png" alt=""></a>
      <!--导航部分-->
      <ul class="head_navList clear">
        <li><a href="index.html">学校首页</a></li>
        <li><a href="schoolBrief.html">学校概况</a></li>
        <li><a href="education.html" class="active">教育教学</a></li>
        <li><a href="teaching.html">管理与教学</a></li>
        <li><a href="moralEducation.html">德育天地</a></li>
        <li><a href="union.html">党群工作</a></li>
        <li><a href="discipline.html">纪委监察</a></li>
        <li><a href="admissions.html">招生就业</a></li>
        <li><a href="open.html">校务公开</a></li>
      </ul>
    </div>
  </header>
  <!--主体内容部分-->
  <section>
    <!--上部图片-->
    <div class="common_bgContent common_bgContentEducation"></div>
    <!--面包屑导航部分-->
    <div class="common_breadNav">
      <div class="common_breadNavInfo">
        <span>您当前的位置：</span>
        <a href="index.html">首页</a>
        <a href="education.html">&gt;教育教学</a>
        <span>&gt;专业介绍</span>
      </div>
    </div>
    <!--下部详细的内容-->
    <div class="common_mainContent clear">
      <!--左边部分-->
      <div class="common_leftContent">
        <div class="common_subNav">
          <p class="common_subNavTitle">教育教学</p>
          <ul class="common_subNavList">
            <li><a href="education.html?0" class="active">专业介绍</a></li>
            <li><a href="education.html?1">现代学徒制</a></li>
            <li><a href="education.html?2">公开课示范课</a></li>
            <li><a href="education.html?3">名师风采</a></li>
            <li><a href="education.html?4">技能竞赛</a></li>
            <li><a href="education.html?5">教学成果</a></li>
          </ul>
         </div>
      </div>
      <!--右边部分(专业介绍)-->
      <div class="common_rightContent">
        <!--标题-->
        <div class="common_rightTitle">
          <span>专业介绍</span>/Major Introduction
        </div>
        <ul class="education_majorLinks clear">
          <li>
            <div class="education_majorLinkIcon">
              <span><i class="iconfont icon-dianxin"></i></span>
            </div>
            <p class="education_majorLinkInfo">信息技术专业部</p>
          </li>
          <li>
            <div class="education_majorLinkIcon">
              <span><i class="iconfont icon-guangdianjixitongjiance"></i></span>
            </div>
            <p class="education_majorLinkInfo">加工制造专业部</p>
          </li>
          <li>
            <div class="education_majorLinkIcon">
              <span><i class="iconfont icon-shangmao"></i></span>
            </div>
            <p class="education_majorLinkInfo">商务服务专业部</p>
          </li>
          <li>
            <div class="education_majorLinkIcon">
              <span><i class="iconfont icon-moxing"></i></span>
            </div>
            <p class="education_majorLinkInfo">公共基础部</p>
          </li>
          <li>
            <div class="education_majorLinkIcon">
              <span><i class="iconfont icon-jidian"></i></span>
            </div>
            <p class="education_majorLinkInfo">交通运输专业部</p>
          </li>
        </ul>
      </div>
      <!--右边部分(现代学徒制)-->
      <div class="common_rightContent" style="display: none">
        <!--标题-->
        <div class="common_rightTitle">
          <span>现代学徒制</span>/Modern Apprenticeship
        </div>
      </div>
      <!--右边部分(公开课示范课)-->
      <div class="common_rightContent" style="display: none">
        <!--标题-->
        <div class="common_rightTitle">
          <span>公开课示范课</span>/Public Demonstration Class
        </div>
      </div>
      <!--右边部分(名师风采)-->
      <div class="common_rightContent" style="display: none">
        <!--标题-->
        <div class="common_rightTitle">
          <span>名师风采</span>/Teacher Style
        </div>
        <!--名师风采的列表-->
        <ul class="education_teacherList clear">
          <li onclick="window.location.href='education_teacherStyle.html'">
            <!--上部一个图片-->
            <div class="education_teacherPic"><img src="images/teacherStyle.png" alt=""></div>
            <!--老师的姓名-->
            <p class="education_teacherName">张正明</p>
            <p class="education_teacherNameEn">ZHANG ZHENGMING</p>
            <p class="education_teacherStatus"><span>省职教名师</span></p>
          </li>
          <li onclick="window.location.href='education_teacherStyle.html'">
            <!--上部一个图片-->
            <div class="education_teacherPic"><img src="images/teacherStyle.png" alt=""></div>
            <!--老师的姓名-->
            <p class="education_teacherName">张正明</p>
            <p class="education_teacherNameEn">ZHANG ZHENGMING</p>
            <p class="education_teacherStatus"><span>省职教名师</span></p>
          </li>
          <li onclick="window.location.href='education_teacherStyle.html'">
            <!--上部一个图片-->
            <div class="education_teacherPic"><img src="images/teacherStyle.png" alt=""></div>
            <!--老师的姓名-->
            <p class="education_teacherName">张正明</p>
            <p class="education_teacherNameEn">ZHANG ZHENGMING</p>
            <p class="education_teacherStatus"><span>省职教名师</span></p>
          </li>
          <li onclick="window.location.href='education_teacherStyle.html'">
            <!--上部一个图片-->
            <div class="education_teacherPic"><img src="images/teacherStyle.png" alt=""></div>
            <!--老师的姓名-->
            <p class="education_teacherName">张正明</p>
            <p class="education_teacherNameEn">ZHANG ZHENGMING</p>
            <p class="education_teacherStatus"><span>省职教名师</span></p>
          </li>
          <li onclick="window.location.href='education_teacherStyle.html'">
            <!--上部一个图片-->
            <div class="education_teacherPic"><img src="images/teacherStyle.png" alt=""></div>
            <!--老师的姓名-->
            <p class="education_teacherName">张正明</p>
            <p class="education_teacherNameEn">ZHANG ZHENGMING</p>
            <p class="education_teacherStatus"><span>省职教名师</span></p>
          </li>
          <li onclick="window.location.href='education_teacherStyle.html'">
            <!--上部一个图片-->
            <div class="education_teacherPic"><img src="images/teacherStyle.png" alt=""></div>
            <!--老师的姓名-->
            <p class="education_teacherName">张正明</p>
            <p class="education_teacherNameEn">ZHANG ZHENGMING</p>
            <p class="education_teacherStatus"><span>省职教名师</span></p>
          </li>
        </ul>
        <!--底部的页码-->
        <div class="page_outContent">
          <div class="page_innerContent clear">
            <p class="page_previousPage">上一页</p>
            <ul class="page_pageList clear">
              <li>1</li>
              <li class="active">2</li>
              <li>3</li>
            </ul>
            <p class="page_nextPage">下一页</p>
            <p class="page_totalPage">共3页</p>
            <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
            <p class="page_submitBtn">确定</p>
          </div>
        </div>
      </div>
      <!--右边部分(技能竞赛)-->
      <div class="common_rightContent" style="display: none">
        <!--标题-->
        <div class="common_rightTitle">
          <span>技能竞赛</span>/Skills Competition
        </div>
        <!--内容信息列表部分-->
        <ul class="common_infoList">
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>01</span>January</p>
              <p>MONDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">师生上阵齐操炼 维修活动进教研</p>
            <!--按钮-->
            <a href="javascript:viod(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>12</span>February</p>
              <p>TUESDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">我校10级参加高考学生完成高考网上填报志愿模拟演练</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>09</span>March</p>
              <p>WEDNESDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">获奖喜报</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>30</span>April</p>
              <p>THURSDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">2012年湖北省中等职业学校电子与信息技术类专业教师教学能力比赛圆满结束</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>13</span>May</p>
              <p>FRIDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">基础部数学组举办数学知识竞赛</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>21</span>June</p>
              <p>SATURDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">武汉大学严瑜教授来校举办心理讲座</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
        </ul>
        <!--底部的页码-->
        <div class="page_outContent">
          <div class="page_innerContent clear">
            <p class="page_previousPage">上一页</p>
            <ul class="page_pageList clear">
              <li>1</li>
              <li class="active">2</li>
              <li>3</li>
            </ul>
            <p class="page_nextPage">下一页</p>
            <p class="page_totalPage">共3页</p>
            <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
            <p class="page_submitBtn">确定</p>
          </div>
        </div>
      </div>
      <!--右边部分(教学成果)-->
      <div class="common_rightContent" style="display: none">
        <!--标题-->
        <div class="common_rightTitle">
          <span>教学成果</span>/Teaching Results
        </div>
        <!--内容信息列表部分-->
        <ul class="common_infoList">
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>01</span>January</p>
              <p>MONDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">普通车工技能竞赛我校再展实力</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>12</span>February</p>
              <p>TUESDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">我校学生在2013年市中职学校普通钳工技能竞赛中荣获佳绩</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>09</span>March</p>
              <p>WEDNESDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">我校选手在市技工院校2013年普通车工技能竞赛中荣获二等奖</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>30</span>April</p>
              <p>THURSDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">喜报</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>13</span>May</p>
              <p>FRIDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">我校教师参加2013年湖北省中职德育教育类教学设计和说课大赛取得优异成绩</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
          <li>
            <!--左边一个表示日期的icon-->
            <span class="common_infoListLogo"></span>
            <!--时间部分-->
            <div class="common_infoListDate">
              <p><span>21</span>June</p>
              <p>SATURDAY</p>
            </div>
            <!--标题部分-->
            <p class="common_infoListTitle">双元评价项目第一轮试点工作总结会暨第二轮试点工作启动会顺利召开</p>
            <!--按钮-->
            <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
          </li>
        </ul>
        <!--底部的页码-->
        <div class="page_outContent">
          <div class="page_innerContent clear">
            <p class="page_previousPage">上一页</p>
            <ul class="page_pageList clear">
              <li>1</li>
              <li class="active">2</li>
              <li>3</li>
            </ul>
            <p class="page_nextPage">下一页</p>
            <p class="page_totalPage">共3页</p>
            <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
            <p class="page_submitBtn">确定</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--底部-->
  <footer>
    <div class="footerInfo">
      <p>
        <span>版权所有@武汉市仪表电子学校</span>
        <span>技术支持：武汉飞加网络科技有限公司</span>
        <span>地址：武汉市东湖高新技术开发区流芳园路1号</span>
        <span>招办传真：027-52237986</span>
      </p>
      <P>
        电话：<span>027-52237988</span><span>027-87403681</span><span>13071265257</span>
      </P>
    </div>
  </footer>
  <!--返回顶部按钮-->
  <div class="toTop" title="返回顶部"><i class="iconfont icon-up"></i></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/public.js"></script>
<script>
    var i=window.location.search.slice(1),
        breadText=['专业介绍', '现代学徒制', '公开课示范课', '名师风采', '技能竞赛', '教学成果'];
    if(i){
        $(".common_rightContent:eq("+i+")").show().siblings(".common_rightContent").hide();
        $(".common_breadNavInfo>span:eq(1)").html("&gt;"+breadText[i]);
        $(".common_subNavList").children("li").children("a").removeClass("active");
        $(".common_subNavList>li:eq("+i+")").children("a").addClass("active");
    }

</script>
</body>
</html>