<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉市仪表电子学校--教育教学--名师风采</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_761537_ks018vo8i0r.css">
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--头部-->
    <header>
        <!--欢迎部分-->
        <div class="head_welcome">
            <div class="head_welcomeInfo clear">
                <div class="head_welcomeInfoLeft">欢迎来到武汉市仪表电子学校！</div>
                <div class="head_welcomeInfoRight clear">
                    <img src="images/headerPhone.png" alt="">
                    <span>400-100-1917</span>
                </div>
            </div>
        </div>
        <!--logo部分-->
        <div class="head_main clear">
            <a href="index.html" class="head_logoImg"><img src="images/logo.png" alt=""></a>
            <!--导航部分-->
            <ul class="head_navList clear">
                <li><a href="index.html">学校首页</a></li>
                <li><a href="schoolBrief.html">学校概况</a></li>
                <li><a href="education.html" class="active">教育教学</a></li>
                <li><a href="teaching.html">管理与教学</a></li>
                <li><a href="moralEducation.html">德育天地</a></li>
                <li><a href="union.html">党群工作</a></li>
                <li><a href="discipline.html">纪委监察</a></li>
                <li><a href="admissions.html">招生就业</a></li>
                <li><a href="open.html">校务公开</a></li>
            </ul>
        </div>
    </header>
    <!--主体内容部分-->
    <section>
      <!--上部图片-->
      <div class="common_bgContent common_bgContentEducation"></div>
      <!--面包屑导航部分-->
      <div class="common_breadNav">
        <div class="common_breadNavInfo">
          <span>您当前的位置：</span>
          <a href="index.html">首页</a>
          <a href="education.html">&gt;教育教学</a>
          <span>&gt;名师风采</span>
        </div>
      </div>
      <!--下部详细的内容-->
      <div class="common_mainContent clear">
        <!--左边部分-->
        <div class="common_leftContent">
          <div class="common_subNav">
            <p class="common_subNavTitle">教育教学</p>
              <ul class="common_subNavList">
                <li><a href="education.html?0">专业介绍</a></li>
                <li><a href="education.html?1">现代学徒制</a></li>
                <li><a href="education.html?2">公开课示范课</a></li>
                <li><a href="education.html?3" class="active">名师风采</a></li>
                <li><a href="education.html?4">技能竞赛</a></li>
                <li><a href="education.html?5">教学成果</a></li>
              </ul>
            </div>
          </div>
        <!--右边部分(名师风采)-->
        <div class="common_rightContent">
          <!--标题-->
          <div class="common_rightTitle">
            <span>名师风采</span>/Teacher Style
          </div>
          <!--老师的信息-->
          <div class="education_teacherDetail clear">
            <!--左边老师的图片-->
            <div class="education_teacherDetailPic"><img src="images/teacherStyleDetail.jpg" alt=""></div>
            <!--右边老师的信息列表-->
            <ul class="education_teacherDetailList">
              <li>
                <span>姓名：</span>
                <span>张正明</span>
              </li>
              <li>
                <span>职称：</span>
                <span>省职教名师</span>
              </li>
              <li>
                <span>学历：</span>
                <span>武汉理工大学机械工程工程硕士</span>
              </li>
              <li>
                <span>政治面貌：</span>
                <span>中共党员</span>
              </li>
              <li>
                <span>在学术团体任职：</span>
                <span>机械职业教育模具专业教学指导委员会委员、机械职业教育数控专业教学指导委员会成员、武汉市模具专业指导委员会委员、《机械职业教育》杂志通信员</span>
              </li>
            </ul>
          </div>
          <!--老师的论著成果-->
          <div class="common_secondTitle">主要论著业绩成果:</div>
          <div class="common_rightInfo">1991.6被武汉市机械工业局评为“优秀大（中）专毕业生”</div>
          <div class="common_rightInfo">1994.9被武汉市机械工业学校评为先进教师</div>
          <div class="common_rightInfo">1996.9被武汉市机械工业学校评为先进教师</div>
          <div class="common_rightInfo">2004年8月，作为主要指导教师，带领武汉市仪表电子学校学生队参加湖北省第一届数控大赛，取得了一名学生全省第二，两名学生全省第九，团体二等奖，的好成绩，且一名学生代表省队参加第一届全国数控大赛</div>
          <div class="common_rightInfo">由本人牵头的武汉市仪表电子学校数控组被武汉市教育局授予“明星岗”称号</div>
          <div class="common_rightInfo">论文《塑料模设计课程教法浅析》《武汉职教》1998年第3期发表</div>
          <div class="common_rightInfo">论文《努力建设一流的师资队伍》《武汉职教》1998年第6期发表</div>
          <div class="common_rightInfo">论文《加强中专生的养成教育》《武汉市中专学校素质教育论文集》交流</div>
          <div class="common_rightInfo">论文《中专生双证教育管见》《武汉职教》1999年第4期发表</div>
          <div class="common_rightInfo">论文《宣贯模块式教学指导思想，促进学校教学改革与发展》市“九五”教育科学规划重点课题“中等职业教育专业模块教学研究”的主要附件</div>
          <div class="common_rightInfo">论文《一种薄壁矩形管弯曲胎具的设计》《江大学报》发表</div>
          <div class="common_rightInfo">论文《把握市场需求，打造优秀培训平台》《湖北职教》2004年第4期发表</div>
          <div class="common_rightInfo">设计制造“彩板雨阳蓬与轧机” 由武汉市诚维有限贸易公司鉴定使用</div>
          <div class="common_rightInfo">设计制造“钥匙坯跳步模” 由华中理工大学汉口分校机械系鉴定通过，产品出口日本</div>
          <div class="common_rightInfo">副主编《数控加工技术》，由华中科技大学出版社出版</div>
          <!--底部切换的部分-->
          <div class="common_changeDetail">
            <!--上部一个返回的按钮-->
            <P class="common_changeReturnContent">
              <a href="education.html?3" class="common_changeReturn"><i class="iconfont icon-return"></i>返回列表</a>
            </P>
            <!--上下篇切换的按钮-->
            <div class="common_changePage">
              <!--左边显示上一篇-->
              <p class="common_changePageContent left noPage">
                <i class="iconfont icon-arrow-left left"></i>
                <span class="left">上一篇：</span>
                <span class="common_changePageInfo left">无</span>
              </p>
              <!--右边显示下一篇-->
              <p class="common_changePageContent right">
                <i class="iconfont icon-arrow-right right"></i>
                <span class="common_changePageInfo right">沈星悦</span>
                <span class="right">下一篇：</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--底部-->
    <footer>
        <div class="footerInfo">
            <p>
                <span>版权所有@武汉市仪表电子学校</span>
                <span>技术支持：武汉飞加网络科技有限公司</span>
                <span>地址：武汉市东湖高新技术开发区流芳园路1号</span>
                <span>招办传真：027-52237986</span>
            </p>
            <P>
                电话：<span>027-52237988</span><span>027-87403681</span><span>13071265257</span>
            </P>
        </div>
    </footer>
    <!--返回顶部按钮-->
    <div class="toTop" title="返回顶部"><i class="iconfont icon-up"></i></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/public.js"></script>
</body>
</html>