<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉市仪表电子学校--信息技术专业部</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_761537_a4ovx6bcxyl.css">
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--头部-->
    <header>
        <!--欢迎部分-->
        <div class="head_welcome">
            <div class="head_welcomeInfo clear">
                <div class="head_welcomeInfoLeft">欢迎来到武汉市仪表电子学校！</div>
                <div class="head_welcomeInfoRight clear">
                    <img src="images/headerPhone.png" alt="">
                    <span>400-100-1917</span>
                </div>
            </div>
        </div>
        <!--logo部分-->
        <div class="head_main clear">
            <a href="index.html" class="head_logoImg"><img src="images/logo.png" alt=""></a>
            <!--导航部分-->
            <ul class="head_navList clear">
              <li><a href="index.html">学校首页</a></li>
              <li><a href="schoolBrief.html">学校概况</a></li>
              <li><a href="education.html" class="active">教育教学</a></li>
              <li><a href="teaching.html">管理与教学</a></li>
              <li><a href="moralEducation.html">德育天地</a></li>
              <li><a href="union.html">党群工作</a></li>
              <li><a href="discipline.html">纪委监察</a></li>
              <li><a href="admissions.html">招生就业</a></li>
              <li><a href="open.html">校务公开</a></li>
            </ul>
        </div>
    </header>
    <!--主体内容部分-->
    <section>
      <!--上部图片-->
      <div class="common_bgContent common_bgContentEducation"></div>
      <!--面包屑导航部分-->
      <div class="common_breadNav">
        <div class="common_breadNavInfo">
          <span>您当前的位置：</span>
          <a href="index.html">首页</a>
          <a href="education.html">&gt;教育教学</a>
          <span>&gt;专业介绍</span>
        </div>
      </div>
      <!--下部详细的内容-->
      <div class="common_mainContent clear">
        <!--左边部分-->
        <div class="common_leftContent">
          <div class="common_subNav">
            <p class="common_subNavTitle">教育教学</p>
            <ul class="common_subNavList">
              <li><a href="education.html?0" class="active">专业介绍</a></li>
              <li><a href="education.html?1">现代学徒制</a></li>
              <li><a href="education.html?2">公开课示范课</a></li>
              <li><a href="education.html?3">名师风采</a></li>
              <li><a href="education.html?4">技能竞赛</a></li>
              <li><a href="education.html?5">教学成果</a></li>
            </ul>
          </div>
        </div>
        <!--右边部分(专业介绍)-->
        <div class="common_rightContent">
          <!--标题-->
          <div class="common_rightTitle">
            <span>专业介绍</span>/Major Introduction
          </div>
        </div>
      </div>
    </section>
    <!--底部-->
    <footer>
        <div class="footerInfo">
            <p>
                <span>版权所有@武汉市仪表电子学校</span>
                <span>技术支持：武汉飞加网络科技有限公司</span>
                <span>地址：武汉市东湖高新技术开发区流芳园路1号</span>
                <span>招办传真：027-52237986</span>
            </p>
            <P>
                电话：<span>027-52237988</span><span>027-87403681</span><span>13071265257</span>
            </P>
        </div>
    </footer>
    <!--返回顶部按钮-->
    <div class="toTop" title="返回顶部"><i class="iconfont icon-up"></i></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/public.js"></script>
</body>
</html>