<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉市仪表电子学校--德育天地</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_761537_a4ovx6bcxyl.css">
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--头部-->
    <header>
        <!--欢迎部分-->
        <div class="head_welcome">
            <div class="head_welcomeInfo clear">
                <div class="head_welcomeInfoLeft">欢迎来到武汉市仪表电子学校！</div>
                <div class="head_welcomeInfoRight clear">
                    <img src="images/headerPhone.png" alt="">
                    <span>400-100-1917</span>
                </div>
            </div>
        </div>
        <!--logo部分-->
        <div class="head_main clear">
            <a href="index.html" class="head_logoImg"><img src="images/logo.png" alt=""></a>
            <!--导航部分-->
            <ul class="head_navList clear">
                <li><a href="index.html">学校首页</a></li>
                <li><a href="schoolBrief.html">学校概况</a></li>
                <li><a href="education.html">教育教学</a></li>
                <li><a href="teaching.html">管理与教学</a></li>
                <li><a href="moralEducation.html" class="active">德育天地</a></li>
                <li><a href="union.html">党群工作</a></li>
                <li><a href="discipline.html">纪委监察</a></li>
                <li><a href="admissions.html">招生就业</a></li>
                <li><a href="open.html">校务公开</a></li>
            </ul>
        </div>
    </header>
    <!--主体内容部分-->
    <section>
        <!--上部图片-->
        <div class="common_bgContent common_bgContentEducation"></div>
        <!--面包屑导航部分-->
        <div class="common_breadNav">
            <div class="common_breadNavInfo">
                <span>您当前的位置：</span>
                <a href="index.html">首页</a>
                <a href="moralEducation.html">&gt;德育天地</a>
                <span>&gt;德育动态</span>
            </div>
        </div>
        <!--下部详细的内容-->
        <div class="common_mainContent clear">
            <!--左边部分-->
            <div class="common_leftContent">
                <!--上部显示的是导航-->
                <div class="common_subNav">
                    <p class="common_subNavTitle">德育天地</p>
                    <ul class="common_subNavList">
                        <li><a href="moralEducation.html?0" class="active">德育动态</a></li>
                        <li><a href="moralEducation.html?1">团学工作</a></li>
                        <li><a href="moralEducation.html?2">学生活动</a></li>
                        <li><a href="moralEducation.html?3">校园文化</a></li>
                        <li><a href="moralEducation.html?4">作品展示</a></li>
                    </ul>
                </div>
            </div>
            <!--右边部分(德育动态)-->
            <div class="common_rightContent">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>德育动态</span>/The moral education of dynamic
                </div>
                <!--内容信息列表部分-->
                <ul class="common_infoList">
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>01</span>January</p>
                            <p>MONDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校参加武汉市中职生党的十八大精神知识竞赛再获佳绩</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>12</span>February</p>
                            <p>TUESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校举行2012-2013年学年度学生表彰大会</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>09</span>March</p>
                            <p>WEDNESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校第三十三期学生业余党校顺利开班</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>30</span>April</p>
                            <p>THURSDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校参加市中职学校趣味运动会获得佳绩</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>13</span>May</p>
                            <p>FRIDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校师生积极为四川雅安地震灾区捐款</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>21</span>June</p>
                            <p>SATURDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校一批个人、集体受上级团组织表彰</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                </ul>
                <!--底部的页码-->
                <div class="page_outContent">
                    <div class="page_innerContent clear">
                        <p class="page_previousPage">上一页</p>
                        <ul class="page_pageList clear">
                            <li>1</li>
                            <li class="active">2</li>
                            <li>3</li>
                        </ul>
                        <p class="page_nextPage">下一页</p>
                        <p class="page_totalPage">共3页</p>
                        <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
                        <p class="page_submitBtn">确定</p>
                    </div>
                </div>
            </div>
            <!--右边部分(团学工作)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>团学工作</span>/Youth League work
                </div>
                <!--内容信息列表部分-->
                <ul class="common_infoList">
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>01</span>January</p>
                            <p>MONDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校举行2012-2013学年下学期学生业余团校开学典礼</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>12</span>February</p>
                            <p>TUESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校学生各社团活动陆续开展</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>09</span>March</p>
                            <p>WEDNESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校举行2012年下半年新团员入团宣誓</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>30</span>April</p>
                            <p>THURSDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校举办明星学生培训班</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>13</span>May</p>
                            <p>FRIDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校动漫社开展室外社团活动</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>21</span>June</p>
                            <p>SATURDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校举行“九一八”纪念活动</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                </ul>
                <!--底部的页码-->
                <div class="page_outContent">
                    <div class="page_innerContent clear">
                        <p class="page_previousPage">上一页</p>
                        <ul class="page_pageList clear">
                            <li>1</li>
                            <li class="active">2</li>
                            <li>3</li>
                        </ul>
                        <p class="page_nextPage">下一页</p>
                        <p class="page_totalPage">共3页</p>
                        <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
                        <p class="page_submitBtn">确定</p>
                    </div>
                </div>
            </div>
            <!--右边部分(学生活动)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>学生活动</span>/Student Activities
                </div>
                <!--内容信息列表部分-->
                <ul class="common_infoList">
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>01</span>January</p>
                            <p>MONDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校举行2011级学生干部欢送会</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>12</span>February</p>
                            <p>TUESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校组织校级优秀学生干部参加社会实践暨春游活动</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>09</span>March</p>
                            <p>WEDNESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">校12级广播操比赛顺利结束</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>30</span>April</p>
                            <p>THURSDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">校11级疾风21比赛顺利结束</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>13</span>May</p>
                            <p>FRIDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校2011级跳绳比赛如期举行</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>21</span>June</p>
                            <p>SATURDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校2012级拔河比赛如期举行</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                </ul>
                <!--底部的页码-->
                <div class="page_outContent">
                    <div class="page_innerContent clear">
                        <p class="page_previousPage">上一页</p>
                        <ul class="page_pageList clear">
                            <li>1</li>
                            <li class="active">2</li>
                            <li>3</li>
                        </ul>
                        <p class="page_nextPage">下一页</p>
                        <p class="page_totalPage">共3页</p>
                        <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
                        <p class="page_submitBtn">确定</p>
                    </div>
                </div>
            </div>
            <!--右边部分(校园文化)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>校园文化</span>/Campus Culture
                </div>
                <!--内容信息列表部分-->
                <ul class="common_infoList">
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>01</span>July</p>
                            <p>MONDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">校园文化节之校园形象大使比赛纪实</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>12</span>August</p>
                            <p>TUESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">校园文化艺术节之红歌比赛如期举行</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>09</span>September</p>
                            <p>WEDNESDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校举行美化寝室大赛颁奖活动</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>30</span>October</p>
                            <p>THURSDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">校园文化节之寝室美化大赛作品展</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>13</span>November</p>
                            <p>FRIDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">校园文化艺术节之广播操训练</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                    <li>
                        <!--左边一个表示日期的icon-->
                        <span class="common_infoListLogo"></span>
                        <!--时间部分-->
                        <div class="common_infoListDate">
                            <p><span>21</span>December</p>
                            <p>SUNDAY</p>
                        </div>
                        <!--标题部分-->
                        <p class="common_infoListTitle">我校教职工积极参加学校义务劳动</p>
                        <!--按钮-->
                        <a href="javascript:void(0)" class="common_infoListBtn">查看详细</a>
                    </li>
                </ul>
                <!--底部的页码-->
                <div class="page_outContent">
                    <div class="page_innerContent clear">
                        <p class="page_previousPage">上一页</p>
                        <ul class="page_pageList clear">
                            <li>1</li>
                            <li class="active">2</li>
                            <li>3</li>
                        </ul>
                        <p class="page_nextPage">下一页</p>
                        <p class="page_totalPage">共3页</p>
                        <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
                        <p class="page_submitBtn">确定</p>
                    </div>
                </div>
            </div>
            <!--右边部分(作品展示)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>作品展示</span>/Works Show
                </div>
            </div>
        </div>
    </section>
    <!--底部-->
    <footer>
        <div class="footerInfo">
            <p>
                <span>版权所有@武汉市仪表电子学校</span>
                <span>技术支持：武汉飞加网络科技有限公司</span>
                <span>地址：武汉市东湖高新技术开发区流芳园路1号</span>
                <span>招办传真：027-52237986</span>
            </p>
            <P>
                电话：<span>027-52237988</span><span>027-87403681</span><span>13071265257</span>
            </P>
        </div>
    </footer>
    <!--返回顶部按钮-->
    <div class="toTop" title="返回顶部"><i class="iconfont icon-up"></i></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/public.js"></script>
<script>
    var i=window.location.search.slice(1),
        breadText=['德育动态', '团学工作', '学生活动', '校园文化', '作品展示'];
    if(i){
        $(".common_rightContent:eq("+i+")").show().siblings(".common_rightContent").hide();
        $(".common_breadNavInfo>span:eq(1)").html("&gt;"+breadText[i]);
        $(".common_subNavList").children("li").children("a").removeClass("active");
        $(".common_subNavList>li:eq("+i+")").children("a").addClass("active");
    }

</script>
</body>
</html>