<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉市仪表电子学校--学校概况</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_761537_a4ovx6bcxyl.css">
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--头部-->
    <header>
        <!--欢迎部分-->
        <div class="head_welcome">
            <div class="head_welcomeInfo clear">
                <div class="head_welcomeInfoLeft">欢迎来到武汉市仪表电子学校！</div>
                <div class="head_welcomeInfoRight clear">
                    <img src="images/headerPhone.png" alt="">
                    <span>400-100-1917</span>
                </div>
            </div>
        </div>
        <!--logo部分-->
        <div class="head_main clear">
            <a href="index.html" class="head_logoImg"><img src="images/logo.png" alt=""></a>
            <!--导航部分-->
            <ul class="head_navList clear">
                <li><a href="index.html">学校首页</a></li>
                <li><a href="schoolBrief.html" class="active">学校概况</a></li>
                <li><a href="education.html">教育教学</a></li>
                <li><a href="teaching.html">管理与教学</a></li>
                <li><a href="moralEducation.html">德育天地</a></li>
                <li><a href="union.html">党群工作</a></li>
                <li><a href="discipline.html">纪委监察</a></li>
                <li><a href="admissions.html">招生就业</a></li>
                <li><a href="open.html">校务公开</a></li>
            </ul>
        </div>
    </header>
    <!--主体内容部分-->
    <section>
        <!--上部图片-->
        <div class="common_bgContent common_bgContentBrief"></div>
        <!--面包屑导航部分-->
        <div class="common_breadNav">
            <div class="common_breadNavInfo">
                <span>您当前的位置：</span>
                <a href="index.html">首页</a>
                <a href="schoolBrief.html">&gt;学校概况</a>
                <span>&gt;学校简介</span>
            </div>
        </div>
        <!--下部详细的内容-->
        <div class="common_mainContent clear">
            <!--左边部分-->
            <div class="common_leftContent">
                <div class="common_subNav">
                    <p class="common_subNavTitle">学校概况</p>
                    <ul class="common_subNavList">
                        <li><a href="schoolBrief.html?0" class="active">学校简介</a></li>
                        <li><a href="schoolBrief.html?1">学校领导</a></li>
                        <li><a href="schoolBrief.html?2">职能机构</a></li>
                        <li><a href="schoolBrief.html?3">校园风光</a></li>
                        <li><a href="schoolBrief.html?4">校园地图</a></li>
                    </ul>
                </div>
            </div>
            <!--右边部分(学校简介)-->
            <div class="common_rightContent">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>学校简介</span>/School Profile
                </div>
                <!--图片区域-->
                <div class="common_rightPic">
                    <img src="images/schoolBrief01.jpg" alt="">
                </div>
                <!--文字描述-->
                <div class="common_rightInfo">
                    武汉市仪表学校是市教育局直属学校，是全国职教百强校、首批国家中职示范校、首家ISO9001国际质量管理体系认证中专校、全国职业教育先进单位和武汉市群众满意学校。学校是经省政府1979年批准建立，由武汉市教育局直属公办学校，是全国职教百强校、首批国家中职改革发展示范校建设单位、全国职业教育先进单位、新中国60年湖北职业教育示范品牌学校、国家级重点普通中等专业学校，2007年荣获湖北省分行业十强称号，在武汉市中专中首家通过ISO9001:2000国际质量管理体系认证。武汉市劳动和社会保障局指定该校为"武汉光谷职业技能培训中心"，东湖新技术开发区指定该校为"武汉光谷职业教育培训基地"，教育部指定该校为全国数控技术应用专业和电工电子专业技能型紧缺人才培养培训工程的学校。该校被社会各界赞誉为"光谷中专"。
                </div>
                <div class="common_rightInfo">
                    教育局直属学校，是全国职教百强校、首批国家中职示范校、首家ISO9001国际质量管理体系认证中专校、全国职业教育先进单位和武汉市群众满意学校。学校是经省政府1979年批准建立，由武汉市教育局直属公办学校，是全国职教百强校、首批国家中职改革发展示范校建设单位、全国职业教育先进单位、新中国60年湖北职业教育示范品牌学校、国家级重点普通中等专业学校，2007年荣获湖北省分行业十强称号，在武汉市中专中首家通过ISO9001:2000国际质量管理体系认证。武汉市劳动和社会保障局指定该校为"武汉光谷职业技能培训中心"，东湖新技术开发区指定该校为"武汉光谷职业教育培训基地"，教育部指定该校为全国数控技术应用专业和电工电子专业技能型紧缺人才培养培训工程的学校。该校被社会各界赞誉为"光谷中专"。教育局直属学校，是全国职教百强校、首批国家中职示范校、首家ISO9001国际质量管理体系认证中专校、全国职业教育先进单位和武汉市群众满意学校。学校是经省政府1979年批准建立，由武汉市教育局直属公办学校，是全国职教百强校、首批国家中职改革发展示范校建设单位、全国职业教育先进单位、新中国60年湖北职业教育示范品牌学校、国家级重点普通中等专业学校。
                </div>
                <div class="common_rightInfo">
                    2007年荣获湖北省分行业十强称号，在武汉市中专中首家通过ISO9001:2000国际质量管理体系认证。武汉市劳动和社会保障局指定该校为"武汉光谷职业技能培训中心"，东湖新技术开发区指定该校为"武汉光谷职业教育培训基地"，教育部指定该校为全国数控技术应用专业和电工电子专业技能型紧缺人才培养培训工程的学校。该校被社会各界赞誉为"光谷中专"。
                </div>
            </div>
            <!--右边部分(学校领导)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>学校领导</span>/School Leaders
                </div>
                <!--表格区域-->
                <div class="common_tableContent">
                    <table class="main_publicTable" cellspacing="0">
                        <thead>
                        <tr>
                            <th>职位</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>出生年月</th>
                            <th>政治面貌</th>
                            <th>学历</th>
                            <th>职称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="teacherPosition">校长、党委副书记</td>
                            <td>邓国平</td>
                            <td>男</td>
                            <td>1965年6月</td>
                            <td>中国党员</td>
                            <td>硕士研究生</td>
                            <td>高级讲师</td>
                        </tr>
                        <tr>
                            <td class="teacherPosition">党委书记、常务副校长</td>
                            <td>韩卫宏</td>
                            <td>男</td>
                            <td>1968年3月</td>
                            <td>中国党员</td>
                            <td>研究生</td>
                            <td>高级讲师</td>
                        </tr>
                        <tr>
                            <td class="teacherPosition">党委副书记、纪委书记、工会主席</td>
                            <td>徐小北</td>
                            <td>男</td>
                            <td>1964年4月</td>
                            <td>中国党员</td>
                            <td>硕士研究生</td>
                            <td>讲师</td>
                        </tr>
                        <tr>
                            <td class="teacherPosition">党委副书记、副校长</td>
                            <td>吴海峰</td>
                            <td>男</td>
                            <td>1961年6月</td>
                            <td>中国党员</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="teacherPosition">党委副书记、副校长</td>
                            <td>蔡梅洲</td>
                            <td>男</td>
                            <td>1965年1月</td>
                            <td>中国党员</td>
                            <td>本科</td>
                            <td>高级讲师</td>
                        </tr>
                        <tr>
                            <td class="teacherPosition">党委副书记、副校长</td>
                            <td>万建平</td>
                            <td>男</td>
                            <td>1959年8月</td>
                            <td>中国党员</td>
                            <td>大专</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="teacherPosition">副校长</td>
                            <td>李丽</td>
                            <td>女</td>
                            <td>1963年10月</td>
                            <td></td>
                            <td>本科</td>
                            <td>高级讲师</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--右边部分(职能机构)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>职能机构</span>/Functional Structure
                </div>
                <!--表格区域-->
                <div class="common_tableContent">
                    <table class="main_publicTable" cellspacing="0">
                        <thead>
                        <tr>
                            <th width="20%">机构</th>
                            <th width="15%">责任人</th>
                            <th width="35%">部门主要职责</th>
                            <th width="15%">办公地点</th>
                            <th width="15%">联系电话</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>办公室</td>
                            <td>张国梅</td>
                            <td>校内外协调和接待工作</td>
                            <td>行政楼15楼</td>
                            <td>52237908</td>
                        </tr>
                        <tr>
                            <td>党群工作部</td>
                            <td>余文龙</td>
                            <td>党建工作 内外协调 校园文化 内外宣传</td>
                            <td>行政楼2楼</td>
                            <td>52237962</td>
                        </tr>
                        <tr>
                            <td>教务处</td>
                            <td>胡 峥</td>
                            <td>教学管理 师资建设 网络建设 教材征订</td>
                            <td>行政楼3楼</td>
                            <td>52237911</td>
                        </tr>
                        <tr>
                            <td>学生工作处</td>
                            <td>赵俊</td>
                            <td>学生管理 德育教育 学籍资助</td>
                            <td>二教学楼1楼</td>
                            <td>52237954</td>
                        </tr>
                        <tr>
                            <td>总务处</td>
                            <td>范成刚</td>
                            <td>安全防范 治安保卫 法制教育</td>
                            <td>行政楼1楼</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>资产管理办公室</td>
                            <td>李哲明</td>
                            <td>资金校产 医务食堂 物资采购 校园环境</td>
                            <td>行政楼1楼</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>招生与就业指导办公室</td>
                            <td>孙漱清</td>
                            <td>招生咨询</td>
                            <td>行政楼前玻璃房</td>
                            <td>52237988</td>
                        </tr>
                        <tr>
                            <td>培训与交流部</td>
                            <td>张 旭</td>
                            <td>就业推荐 实习指导 校企合作</td>
                            <td>行政楼前玻璃房</td>
                            <td>52237988</td>
                        </tr>
                        <tr>
                            <td>教育研究与督导室</td>
                            <td>彭 晖</td>
                            <td>教改教研 课题管理 校报编写 教育宣传</td>
                            <td>行政楼15楼</td>
                            <td>52237964</td>
                        </tr>
                        <tr>
                            <td>信息中心</td>
                            <td>吴礼法</td>
                            <td>质量管理 教育督导</td>
                            <td>行政楼15楼</td>
                            <td>52237915</td>
                        </tr>
                        <tr>
                            <td>财务科</td>
                            <td>王  爱</td>
                            <td>工会工作</td>
                            <td>行政楼15楼</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>保卫科</td>
                            <td>刘军明</td>
                            <td>团学工作</td>
                            <td>行政楼2楼</td>
                            <td>52237962</td>
                        </tr>
                        <tr class='table_linkContent'>
                            <td>加工制造专业部</td>
                            <td>郝晓琳</td>
                            <td>系部专业建设、师资队伍建设、教学管理、学生管理</td>
                            <td>二教学楼2楼</td>
                            <td>52237965</td>
                        </tr>
                        <tr class='table_linkContent'>
                            <td>信息技术专业部</td>
                            <td>胡  峥</td>
                            <td>系部专业建设、师资队伍建设、教学管理、学生管理</td>
                            <td>二教学楼3楼</td>
                            <td>52237913</td>
                        </tr>
                        <tr class='table_linkContent'>
                            <td>商务服务专业部</td>
                            <td>徐剑虹</td>
                            <td>系部专业建设、师资队伍建设、教学管理、学生管理</td>
                            <td>二教学楼4楼</td>
                            <td>51789713</td>
                        </tr>
                        <tr class='table_linkContent'>
                            <td>交通运输专业部</td>
                            <td>杨亚芳</td>
                            <td>系部专业建设、师资队伍建设、教学管理、学生管理</td>
                            <td>二教学楼1楼</td>
                            <td>52237973</td>
                        </tr>
                        <tr class='table_linkContent'>
                            <td>公共基础部</td>
                            <td>吴永红</td>
                            <td>系部专业建设、师资队伍建设、教学管理、学生管理</td>
                            <td>二教学楼6楼</td>
                            <td>52237912</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--右边部分(校园风光)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>校园风光</span>/Campus Scenery
                </div>
                <!--校园风光的图片列表-->
                <ul class="brief_campusSceneryList clear">
                    <li>
                        <div class="brief_campusSceneryPic"><img src="images/campusScenery01.jpg" alt=""></div>
                        <div class="brief_campusSceneryInfo">冬日雪景</div>
                    </li>
                    <li>
                        <div class="brief_campusSceneryPic"><img src="images/campusScenery02.jpg" alt=""></div>
                        <div class="brief_campusSceneryInfo">青藤长廊</div>
                    </li>
                    <li>
                        <div class="brief_campusSceneryPic"><img src="images/campusScenery03.jpg" alt=""></div>
                        <div class="brief_campusSceneryInfo">校园长椅</div>
                    </li>
                    <li>
                        <div class="brief_campusSceneryPic"><img src="images/campusScenery03.jpg" alt=""></div>
                        <div class="brief_campusSceneryInfo">校园长椅</div>
                    </li>
                    <li>
                        <div class="brief_campusSceneryPic"><img src="images/campusScenery01.jpg" alt=""></div>
                        <div class="brief_campusSceneryInfo">冬日雪景</div>
                    </li>
                    <li>
                        <div class="brief_campusSceneryPic"><img src="images/campusScenery02.jpg" alt=""></div>
                        <div class="brief_campusSceneryInfo">青藤长廊</div>
                    </li>
                </ul>
                <!--底部的页码-->
                <div class="page_outContent">
                    <div class="page_innerContent clear">
                        <p class="page_previousPage">上一页</p>
                        <ul class="page_pageList clear">
                            <li>1</li>
                            <li class="active">2</li>
                            <li>3</li>
                        </ul>
                        <p class="page_nextPage">下一页</p>
                        <p class="page_totalPage">共3页</p>
                        <p class="page_changePage">到第<input type="text" class="page_inputPage">页</p>
                        <p class="page_submitBtn">确定</p>
                    </div>
                </div>
            </div>
            <!--右边部分(校园地图)-->
            <div class="common_rightContent" style="display: none">
                <!--标题-->
                <div class="common_rightTitle">
                    <span>校园地图</span>/Campus Map
                </div>
               <!--地图区域-->
                <div id="brief_campusMap"></div>
            </div>
        </div>
    </section>
    <!--底部-->
    <footer>
        <div class="footerInfo">
            <p>
                <span>版权所有@武汉市仪表电子学校</span>
                <span>技术支持：武汉飞加网络科技有限公司</span>
                <span>地址：武汉市东湖高新技术开发区流芳园路1号</span>
                <span>招办传真：027-52237986</span>
            </p>
            <P>
                电话：<span>027-52237988</span><span>027-87403681</span><span>13071265257</span>
            </P>
        </div>
    </footer>
    <!--返回顶部按钮-->
    <div class="toTop" title="返回顶部"><i class="iconfont icon-up"></i></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=k67kcblzt4bhnYnXtBBZljMWYhASohZt"></script>
<script src="js/public.js"></script>
<script>
    var i=window.location.search.slice(1),
        breadText=["学校简介","学校领导","职能机构","校园风光","校园地图"];
    if(i){
        $(".common_rightContent:eq("+i+")").show().siblings(".common_rightContent").hide();
        $(".common_breadNavInfo>span:eq(1)").html("&gt;"+breadText[i]);
        $(".common_subNavList").children("li").children("a").removeClass("active");
        $(".common_subNavList>li:eq("+i+")").children("a").addClass("active");
    }

    // 校园地图部分
    (function initMap(){
        // 百度地图API功能
        var map = new BMap.Map("brief_campusMap"),    // 创建Map实例
            point=new BMap.Point(114.450865,30.471312);
        map.centerAndZoom(point, 19);  // 初始化地图,设置中心点坐标和地图级别
        var opts={
                position:point,//指定文本标注所在的地理位置
                offset:new BMap.Size(-10,40)//设置文本偏移量
            },
            label=new BMap.Label("武汉市仪表电子学校",opts),
            marker=new BMap.Marker(point);//创建标注
        label.setStyle({
            color:"red",
            fontSize:"14px",
            height:"24px",
            lineHeight:"24px",
            fontFamily:"微软雅黑"
        });
        map.addOverlay(marker);//将标注添加到地图中
        marker.setLabel(label);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        map.setCurrentCity("武汉");//设置地图显示的城市
        map.enableScrollWheelZoom(true);//开启鼠标滚轮缩放
        map.addTileLayer(new BMap.PanoramaCoverageLayer());//覆盖区域图层测试
        var stCtrl=new BMap.PanoramaControl();//构造全景控件
        stCtrl.setOffset(new BMap.Size(20,20));
        map.addControl(stCtrl);//添加全景控件
        var top_left_control=new BMap.NavigationControl();
        map.addControl(top_left_control);//左上角添加默认缩放平移控件
    })();

</script>
</body>
</html>