@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layout/_layout_frame.cshtml";
}
<h1>欢迎使用@(ViewBag.Title)</h1>
